.top {
  height: 8.8rem;
  position: relative;
}

.bgPattern {
  width: 100%;
}

.profilePic {
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.name {
  color: hsl(229, 23%, 23%);
  font-size: 1.15rem;
  font-weight: 700;
  margin-top: 4.6rem;
  text-align: center;
}
.age {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.city {
  color: hsl(0, 0%, 59%);
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.6rem;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid hsl(0, 0%, 59%);
  margin-top: 1.4rem;
}

.numbersDetailGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}
