@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-position: -25vw -50vh, 50vw 40vh;
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 900px) {
  body {
    background-position: -110vw -40vh, 50vw 50vh;
    background-size: 800px 800px;
  }
}
